<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:remove="all">Template for HTML email with inline image</title>
    </meta>
</head>
<body>
<p>Hi,</p>
<p>The following tables are summaries of the load counts for <span th:text="${projectName}"></span>. More details are available in the spreadsheet
    attached.</p>
<p>Load counts by machine: </p>
<table border="1" style="border-collapse: collapse;">
    <thead>
    <tr>
        <th width="80">Machine</th>
        <th width="80">Load Type</th>
        <th width="80">Load Count</th>
        <th width="80">Volume (m<sup>3</sup>)</th>
        <th width="80">Time (minutes)</th>
        <th width="80">Cost</th>
        <th width="80">Revenue</th>
        <th width="80">Profit</th>
    </tr>
    </thead>

    <th:block th:each="sum : ${byMachineTable.entries}">
        <tbody>
        <tr th:each="entry, itrStat:${ sum.entries}">
            <th:block th:if="${itrStat.index == 0}">
                <td th:text="${entry.equipment}" align="center" th:rowspan="${itrStat.size + 1}">DT5</td>
            </th:block>

            <td th:text="${entry.loadType}" align="center">Top Soil</td>
            <td th:text="${entry.loadCount}" align="center" width="80">20</td>
            <td th:text="${entry.volume}" align="center" width="80">200</td>
            <td th:text="${entry.duration}" align="center" width="80">3.5</td>
            <td th:text="${entry.cost} % 1 == 0? ${entry.cost} :${#numbers.formatDecimal(entry.cost, 0, 2)}"
                align="center" width="80">
                350
            </td>
            <td th:text="${entry.revenue} % 1 == 0? ${entry.revenue} :${#numbers.formatDecimal(entry.revenue, 0, 2)}" align="center" width="80">400</td>
            <td th:text="${entry.profit} % 1 == 0? ${entry.profit} :${#numbers.formatDecimal(entry.profit, 0, 2)}"
                align="center" width="80">50
            </td>
        </tr>

        <tr style="font-weight: bold" >

            <td  align="center"><b>Subtotal</b></td>
            <td th:text="${sum.loadCount}" align="center">20</td>
            <td th:text="${sum.volume}" align="center">200</td>
            <td th:text="${sum.duration}" align="center">3.5</td>
            <td th:text="${sum.cost} % 1 == 0? ${sum.cost} :${#numbers.formatDecimal(sum.cost, 0, 2)}" align="center">
                350
            </td>
            <td th:text="${sum.revenue} % 1 == 0? ${sum.revenue} :${#numbers.formatDecimal(sum.revenue, 0, 2)}" align="center" width="80">400</td>
            <td th:text="${sum.profit} % 1 == 0? ${sum.profit} :${#numbers.formatDecimal(sum.profit, 0, 2)}"
                align="center">50
            </td>
        </tr>
        </tbody>
    </th:block>
    <tbody>
    <tr style="font-weight: bold"><td  align="center" th:colspan="2"><b>Total</b></td>
        <td th:text="${byMachineTable.loadCount}" align="center">20</td>
        <td th:text="${byMachineTable.volume}" align="center">200</td>
        <td th:text="${byMachineTable.duration}" align="center">3.5</td>
        <td th:text="${byMachineTable.cost} % 1 == 0? ${byMachineTable.cost} :${#numbers.formatDecimal(byMachineTable.cost, 0, 2)}" align="center">
            350
        </td>
        <td th:text="${byMachineTable.revenue} % 1 == 0? ${byMachineTable.revenue} :${#numbers.formatDecimal(byMachineTable.revenue, 0, 2)}" align="center" width="80">400</td>
        <td th:text="${byMachineTable.profit} % 1 == 0? ${byMachineTable.profit} :${#numbers.formatDecimal(byMachineTable.profit, 0, 2)}"
            align="center">50
        </td></tr>
    </tbody>
</table>
<p>Load counts by load category: </p>
<table border="1" style="border-collapse: collapse;">
    <thead>
    <tr>
        <th width="80">Load Type</th>
        <th width="80">Machine</th>
        <th width="80">Load Count</th>
        <th width="80">Volume (m<sup>3</sup>)</th>
        <th width="80">Time (minutes)</th>
        <th width="80">Cost</th>
        <th width="80">Revenue</th>
        <th width="80">Profit</th>
    </tr>
    </thead>

    <th:block th:each="sum : ${byLoadTypeTable.entries}">
        <tbody>
        <tr th:each="entry, itrStat:${ sum.entries}">
            <th:block th:if="${itrStat.index == 0}">
                <td th:text="${entry.loadType}" align="center" th:rowspan="${itrStat.size + 1}">DT5</td>
            </th:block>

            <td th:text="${entry.equipment}" align="center">Top Soil</td>
            <td th:text="${entry.loadCount}" align="center" width="80">20</td>
            <td th:text="${entry.volume}" align="center" width="80">200</td>
            <td th:text="${entry.duration}" align="center" width="80">3.5</td>
            <td th:text="${entry.cost} % 1 == 0? ${entry.cost} :${#numbers.formatDecimal(entry.cost, 0, 2)}"
                align="center" width="80">
                350
            </td>
            <td th:text="${entry.revenue} % 1 == 0? ${entry.revenue} :${#numbers.formatDecimal(entry.revenue, 0, 2)}" align="center" width="80">400</td>
            <td th:text="${entry.profit} % 1 == 0? ${entry.profit} :${#numbers.formatDecimal(entry.profit, 0, 2)}"
                align="center" width="80">50
            </td>
        </tr>

        <tr style="font-weight: bold">

            <td  align="center"  ><b>Subtotal</b></td>
            <td th:text="${sum.loadCount}" align="center">20</td>
            <td th:text="${sum.volume}" align="center">200</td>
            <td th:text="${sum.duration}" align="center">3.5</td>
            <td th:text="${sum.cost} % 1 == 0? ${sum.cost} :${#numbers.formatDecimal(sum.cost, 0, 2)}" align="center">
                350
            </td>
            <td th:text="${sum.revenue} % 1 == 0? ${sum.revenue} :${#numbers.formatDecimal(sum.revenue, 0, 2)}" align="center" width="80">400</td>
            <td th:text="${sum.profit} % 1 == 0? ${sum.profit} :${#numbers.formatDecimal(sum.profit, 0, 2)}"
                align="center">50
            </td>
        </tr>
        </tbody>
    </th:block>
    <tbody>
    <tr style="font-weight: bold"><td align="center" th:colspan="2"><b>Total</b></td>
        <td th:text="${byLoadTypeTable.loadCount}" align="center">20</td>
        <td th:text="${byLoadTypeTable.volume}" align="center">200</td>
        <td th:text="${byLoadTypeTable.duration}" align="center">3.5</td>
        <td th:text="${byLoadTypeTable.cost} % 1 == 0? ${byLoadTypeTable.cost} :${#numbers.formatDecimal(byLoadTypeTable.cost, 0, 2)}" align="center">
            350
        </td>
        <td th:text="${byLoadTypeTable.revenue} % 1 == 0? ${byLoadTypeTable.revenue} :${#numbers.formatDecimal(byLoadTypeTable.revenue, 0, 2)}" align="center" width="80">400</td>
        <td th:text="${byLoadTypeTable.profit} % 1 == 0? ${byLoadTypeTable.profit} :${#numbers.formatDecimal(byLoadTypeTable.profit, 0, 2)}"
            align="center">50
        </td></tr>
    </tbody>
</table>

<p>Thank you.</p>
</body>
</html>