<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
    <link rel="stylesheet" th:href="@{/css/lib/draw/leaflet.draw.css}"
          href="../../css/lib/draw/leaflet.draw.css" />
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />






</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Dempsey Wood</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Dempsey Wood Load Counting Demo</h1>
        <h2>
            <span th:text="'Message: ' + ${message}"></span>
        </h2>
    </div>
    <div id="mapid" style="width: 600px; height: 400px;"></div>

</div>
<!-- /.container -->
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
        integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
        crossorigin=""></script>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/

var coordinates = [[${coordinates}]];

/*]]>*/
</script>
<script type="text/javascript" th:src="@{/js/lib/Leaflet.draw.js}" />
<script type="text/javascript" th:src="@{/js/src/dw.js}" />

</body>
</html>